.star-rating {
  display: flex;
  justify-content: flex-start; /* Alinea a la izquierda */
  gap: 8px;
  margin-bottom: 1rem;
}

.star {
  cursor: pointer;
  font-size: 28px;
  transition: color 0.2s;
  color: #ccc;
}

.star:hover,
.star.active {
  color: #007bff; /* Azul Bootstrap */
}

.modal-buttons .btn {
  min-height: 42px; /* ajusta si usas otro tamaño en el resto de tu sitio */
  display: flex;
  align-items: center;
  justify-content: center;
}
